.parallax {
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home1 {
  /* Set a specific height */
  min-height: 100vh;
  /* The image used */
  background-image: url("../images/home1.png");
}

.sambalIm {
  /* Set a specific height */
  min-height: 75vh;
  /* The image used */
  background-image: url("../images/f-5.png");
  background-size: 100%;
}


.lokasiIm {
  /* Set a specific height */
  min-height: 75vh;
  /* The image used */
  background-image: url("../images/lokasi.jpg");
}

.sambalIm2 {
  /* Set a specific height */
  min-height: 75vh;
  /* The image used */
  background-image: url("../images/sambals.png");
  background-size: 100%;
}


.home2 {
  width: 100%;
}

.crop1 {
  object-fit: none;
  /* Do not scale the image */
  object-position: center;
  /* Center the image within the element */
  width: 100%;
  max-height: 75vh;
  margin-bottom: 1rem;
}


.crop2 {
  object-fit: none;
  /* Do not scale the image */
  object-position: center;
  /* Center the image within the element */
  max-height: 25vh;
}

.crop2 img {
  object-fit: none;
  width: 100% !important;
}